$breakpoints: (
	desktop-wide: 1440px,
	desktop-lg: 1290px,
	desktop: 1248px,
	desktop-sm: 1120px,
	tablet: 991px,
	phone: 768px,
	phone-sm: 575px,
	phone-xs: 320px,
);

@mixin mq($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);

		@if $type ==min {
			$width: $width + 1px;
		}

		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}