.project-card-wrapper {
  position: relative;
  padding-top: rem(40);

  @include mq(phone) {
    padding-top: rem(32);
  }

  .item {
    height: 100%;
  }

  .owl-dots {
    display: flex;
    padding-top: rem(24);
    padding-left: calc((100% - 1300px) / 2) !important;

    @media (max-width: 1388px) {
      padding-left: 60px !important;
    }

    @include mq(tablet) {
      padding-left: 30px !important;
    }

    @include mq(phone) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: rem(16);
      padding-left: 0 !important;
    }
  }

  .owl-stage {
    display: flex;
    padding-left: calc((100% - 1300px) / 2) !important;

    @media (max-width: 1388px) {
      padding-left: 60px !important;
    }

    @include mq(tablet) {
      padding-left: 30px !important;
    }

    @include mq(phone) {
      padding-left: 20px !important;
    }
  }

  .project-card-wrap {
    height: 100%;

    @include mq(phone) {
      flex-direction: column;
      row-gap: rem(8);

    }
  }

  .list-type {
    @include mq(phone) {
      display: none;
    }
  }

  .project-rate {
    @include mq(phone) {
      display: flex;
      align-items: center;
      padding-top: rem(24);
    }
  }

  .project-card {
    padding: rem(40);
    background: var(--text-light-grey);
    border-radius: rem(8);
    max-width: 434px;

    @include mq(tablet) {
      padding: rem(30);
    }

    @include mq(phone) {
      max-width: 100%;
      padding: rem(24);
    }

    .supergas-logo {
      max-width: 175px;
      padding-bottom: rem(40);

      @include mq(tablet) {
        padding-bottom: rem(26);
      }

      @include mq(phone) {
        max-width: 136px;
        padding-bottom: rem(16);
      }

    }

    .project-desc {
      color: var(--text-darkest-blue);
    }

    .arrow {
      max-width: rem(32);
      min-width: rem(32);
      padding-bottom: rem(8);

      @include mq(phone) {
        padding-bottom: 0;
      }
    }

    .success-card {
      border-bottom: 1px solid var(--border-primary);
      padding-top: rem(32);

      @include mq(phone) {
        padding-right: rem(21);
        margin-right: rem(21);
        border-bottom: none;
        border-right: 1px solid var(--border-primary);
        padding-top: 0;
      }
    }

    .failure-card {
      padding-top: rem(24);

      @include mq(phone) {
        padding-top: 0;
      }
    }

    .success-order {
      padding: rem(15) 0 rem(24);

      @include mq(phone) {
        padding: rem(8) 0 0;
      }
    }

    .list-items {
      row-gap: rem(12);
    }

    .list-svg {
      max-width: 32px;
      min-width: 32px;
      background: var(--white);
      padding: rem(6);
      border-radius: 50%;
    }

    .list {
      padding: rem(8) rem(12);
      background: var(--white);
      border-radius: 100px;
      width: max-content;

      @include mq(phone) {
        display: none;
      }
    }
  }


}

.project-card-video {
  position: relative;
  width: 100%;
  border-radius: rem(8);
  max-width: 868px;
  overflow: hidden;

  .case-study-video {
    height: 100%;
  }

  .video-img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    display: block;
    height: 100%;

  }

  .project-video {

    width: 100%;
    height: 100%;
    display: none;
  }

  .play-btn {
    position: absolute;
    right: 48px;
    bottom: 32px;
    cursor: pointer;

    @include mq(phone) {
      right: 16px;
      bottom: 16px;
    }
  }

  .play-svg {
    max-width: rem(48);
    min-width: rem(48);
    padding: rem(14) rem(13) rem(14) rem(15);
    background-color: var(--secondary);
    border-radius: 50%;

    @include mq(phone) {
      max-width: rem(40);
      min-width: rem(40);
      padding: rem(11) rem(11) rem(11) rem(12);
    }

  }

  &.video-playing {
    background-color: black;
  }
}