// Define CSS variables for easier theme management
:root {
	--btn-bg-color: var(--secondary);
	--btn-font-color: white;
	--btn-font-size: 16px;
	--btn-font-weight: 500;
	--btn-padding: 16px 20px;
	--btn-border: transparent;
	--btn-text-margin-right: 6px; // Margin for default spacing
	--btn-icon-width: 16px;
	--transition-duration-short: 0.3s;
	--transition-duration-long: 0.8s;
}

.btn {
	display: inline-flex;
	align-items: center;
	border: var(--btn-border);
	cursor: pointer;
	text-decoration: none;
	background: var(--btn-bg-color);
	border-radius: 6px;
	padding: var(--btn-padding);
	font-family: $base-font-family;
	font-size: var(--btn-font-size);
	font-weight: var(--btn-font-weight);
	color: var(--btn-font-color);
	position: relative;

	.btn-text {
		margin-right: var(--btn-text-margin-right); // Spacing between text and icon
		transition: transform var(--transition-duration-long) ease;
	}

	.btn-icon {
		transition: transform var(--transition-duration-long) ease;
		position: relative;

		img {
			width: var(--btn-icon-width);
			height: auto;
		}
	}

	&:hover {
		.btn-text {
			transform: translateX(0); // Text stays in place
		}

		.btn-icon {
			// Dynamically move to the left by the combined width of the text and margin
			transform: translateX(calc(-1 * (100% + var(--btn-text-margin-right))));
		}
	}
}