.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 30px 12px 24px;
	background-color: #FFCE32; // Button background color
	color: #050708;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;

	// Text inside the button
	span {
		position: relative;
		z-index: 2;
	}

	// Arrow image
	.btn-arrow {
		position: absolute;
		top: 50%;
		right: 6px; // Align the arrow on the right
		transform: translateY(-50%);
		z-index: 1;
		transition: transform 0.4s ease, left 0.4s ease;
	}

	&:hover {
		.btn-arrow {
			left: 12px; // Move to the left of the text
			transform: translateY(-50%) translateX(-36%);
		}
	}
}